body {
  background-color: #fff;
  font-weight: 400;
  font-family: 'Roboto';
}

* {
  outline: none;
}

input,
button,
a {
  font-family: 'Roboto';
}
.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1170px;
  width: calc(100% - 60px);
  margin: 0 auto;

  @include mMax {
    width: calc(100% - 40px);
  }
}

.new_b-slider {
  position: relative;
  width: 100vw;
  max-width: 1920px;
  background-color: #0d386b;
  font-size: 28px;
  line-height: 1.07;
  margin: 0 auto;

  @include mMax {
    margin-bottom: 100px;
  }

  .slick-arrow {
    @include dMax {
      top: auto;
      bottom: 57px;
      width: 60px;
      height: 60px;
      background-size: 28%;
      transform: none;

      &.slick-next {
        right: 30px;
      }

      &.slick-prev {
        left: auto;
        right: 107px;
      }
    }

    @include mMax {
      width: 48px;
      height: 48px;
      bottom: auto;
      top: 100%;
      margin-top: 26px;

      &.slick-next {
        right: 50%;
        margin-right: -56px;
      }

      &.slick-prev {
        right: auto;
        left: 50%;
        margin-left: -56px;
      }
    }
  }

  &-item {
    min-height: 681px;
    height: 100%;

    @media (min-width: 1511px) {
      background-position: 50% 0 !important;
    }
    @media (min-width: 1240px) and (max-width: 1510px) {
      background-position: 90% 0 !important;
    }
    @media (min-width: 768px) and (max-width: 1239px) {
      background-position: 75% 0 !important;
    }

    @include tMax {
      min-height: 510px;
    }
  }

  &-content {
    box-sizing: border-box;
    padding: 90px 0 75px;

    @include tMax {
      padding: 50px 0 55px;
    }

    @include mMax {
      padding: 40px 0 40px 20px;
    }
  }

  &-text {
    max-width: 600px;
    width: 100%;

    @include tMax {
      max-width: 460px;
    }

    p,
    p span {
      display: block;
      margin-bottom: 68px;
      font-size: 30px;
      line-height: 40px;
      font-weight: 300;
      color: #fff;
      text-transform: uppercase;

      @include tMax {
        margin-bottom: 35px;
        font-size: 24px;
        line-height: 30px;
      }

      @include mMax {
        margin-bottom: 25px;

        .new_b-slider-text--desktop {
          display: none;
        }
      }
    }

    h3 {
      display: block;
      margin-bottom: 60px;
      font-size: 30px;
      line-height: 40px;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;

      @include tMax {
        margin-bottom: 45px;
        font-size: 20px;
        line-height: 24px;
      }

      @include mMax {
        margin-bottom: 20px;
      }
    }

    & > span {
      display: block;
      margin-bottom: 30px;
      font-size: 16px;
      line-height: 24px;
      color: #fff;

      @include tMax {
        font-size: 14px;
        line-height: 20px;
      }

      @include mMax {
        br {
          display: none;
        }
      }
    }

    .green-btn {
      width: 100%;
      max-width: 436px;

      @include mMax {
        display: block;
        max-width: 172px;
        margin-left: 45px;
      }
    }
  }
}

.green-btn {
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  display: inline-block;
  vertical-align: top;
  border: none;
  margin: 0;
  background: transparent;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  padding: 22px 20px 21px;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 5px 15px 0px rgb(73, 206, 66 / 53%);
  transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in;
  margin: 0;
  overflow: hidden;
  background: #3ab94b;
  border: none;
  border-radius: 5px;

  &:hover {
    box-shadow: none;
    background-color: #0f9821;
  }
}

.green-btn--mobile {
  display: none;

  @include mMax {
    display: block;
  }
}

.green-btn--desktop {
  @include mMax {
    display: none;
  }
}

.slick-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  padding: 0;
  border: none;
  font-size: 0;
  margin: 0;
  border-radius: 50%;
  box-shadow: 0px 5px 15px 0px rgb(73, 206, 66 / 53%);
  transition: background-color 0.2s ease-out;
  cursor: pointer;
}

.slick-prev {
  left: 70px;
  background: #3ab94b url(../img/slider-prev.svg) calc(50% - 3px) 50% no-repeat;
}

.slick-next {
  right: 70px;
  background: #3ab94b url(../img/slider-next.svg) calc(50% + 3px) 50% no-repeat;
}

.section-title {
  display: block;
  font-size: 48px;
  line-height: 55px;
  color: #143862;
  font-weight: 300;
  text-transform: uppercase;

  @include tMax {
    font-size: 36px;
    line-height: 40px;
  }

  @include mMax {
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
  }
}

.new_specialists {
  box-sizing: border-box;
  padding: 110px 0 120px;
  background-color: #f8fafc;

  .slick-list {
    overflow: visible;
  }

  .slick-slide {
    transition: opacity 0.2s linear;
    opacity: 0;

    &.slick-active {
      opacity: 1;
    }
  }

  @include tMax {
    padding: 100px 0 50px;
  }

  @include mMax {
    padding: 40px 0;
  }

  .section-title {
    margin-bottom: 55px;

    @include mMax {
      margin-bottom: 30px;
    }
  }

  &-flex {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    @include mMax {
      display: block;
    }
  }

  &-slider {
    position: static;

    &-wrapper {
      position: relative;
      box-sizing: border-box;
      width: calc(100% - 400px);
      padding: 40px 38px 36px 45px;
      background-color: #fff;
      box-shadow: 5px 0 15px rgba(0, 0, 0, 0.08);
      overflow: hidden;

      @include tMax {
        width: 50%;
        padding: 40px;
      }

      @include mMax {
        width: 100%;
        padding: 30px 15px 44px;
      }

      .slick-arrow {
        top: 36px;
        width: 47px;
        height: 47px;
        background-size: 30%;
        transform: none;

        @include tMax {
          top: 255px;

          &.slick-next {
            right: 23px;
          }

          &.slick-prev {
            right: auto;
            left: 23px;
          }
        }
      }

      .slick-next {
        right: 40px;
      }

      .slick-prev {
        left: auto;
        right: 99px;
      }
    }

    &-title {
      display: block;
      margin-bottom: 33px;
      text-transform: uppercase;
      font-size: 30px;
      line-height: 40px;
      font-weight: 300;
      color: #143862;

      @include tMax {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 40px;
        font-weight: normal;
      }

      @include mMax {
        font-size: 18px;
        text-align: center;
      }
    }

    &-flex {
      box-sizing: border-box;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      padding-bottom: 18px;

      @include tMax {
        padding: 0;
        display: block;
      }
    }

    &-image {
      display: block;
      background-color: #faf9fa;
      width: 50%;
      max-width: 270px;
      flex-shrink: 0;

      @include tMax {
        width: 100%;
        max-width: none;
        height: 270px;
        margin-bottom: 20px;
      }

      img {
        display: block;
        width: 100%;

        @include tMax {
          height: 100%;
          object-fit: cover;
          object-position: top;
        }
      }
    }

    &-text {
      box-sizing: border-box;
      width: auto;
      padding-left: 42px;

      @include tMax {
        padding-left: 0;
      }

      .green-btn {
        box-sizing: border-box;
        width: 100%;
        max-width: 256px;
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }

    &-name {
      display: block;
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 24px;
      font-weight: 500;
      color: #1e4c82;
    }

    &-place {
      display: block;
      margin-bottom: 12px;
      font-size: 14px;
      line-height: 18px;
      color: #1e4c82;
    }

    &-prof {
      display: block;
      margin-bottom: 19px;
      font-size: 14px;
      line-height: 18px;
      color: #777777;
    }

    &-desc {
      display: block;
      margin-bottom: 25px;
      font-size: 14px;
      line-height: 22px;
      color: #143862;
    }
  }

  &-content {
    box-sizing: border-box;
    width: 400px;
    padding-left: 60px;

    @include tMax {
      width: 50%;
      padding-left: 30px;
    }

    @include mMax {
      width: 100%;
      padding-left: 0;
      margin-top: 35px;
    }

    &-title {
      display: block;
      margin-bottom: 32px;
      text-transform: uppercase;
      font-size: 30px;
      line-height: 40px;
      font-weight: 300;
      color: #143862;

      @include tMax {
        margin-bottom: 20px;
      }

      @include mMax {
        font-size: 20px;
        line-height: 40px;
        font-weight: 400;
      }
    }

    &-block,
    &-subblock {
      list-style: none;
    }

    &-heading {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }

    &-number {
      display: block;
      margin-right: 20px;
      font-size: 16px;
      line-height: 30px;
      font-weight: bold;
      color: #3ab94b;
    }

    &-text {
      display: block;
      font-size: 16px;
      line-height: 30px;
      color: #143862;
    }

    &-subblock {
      box-sizing: border-box;
      padding-left: 38px;

      a {
        display: block;
        font-size: 14px;
        line-height: 28px;
        color: #143862;
      }
    }
  }
}

.new_text_block {
  box-sizing: border-box;
  position: relative;
  padding: 104px 0;

  &-mobile-link {
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
    color: #3ab94b;
    cursor: pointer;
    margin-top: 10px;
    display: none;

    @include mMax {
      display: block;
    }
  }

  &-smarl_mobile {
    @include mMax {
      p:not(:first-child) {
        display: none;
      }
    }
  }

  @include tMax {
    padding: 80px 0 59px;
  }

  @include mMax {
    padding: 40px 0;
  }

  .section-title {
    margin-bottom: 60px;

    @include tMax {
      margin-bottom: 45px;
    }

    @include mMax {
      margin-bottom: 30px;
    }
  }

  &-content{clear:both;}

  &-content + &-content {
    margin-top: 100px;

    @include tMax {
      margin-top: 60px;
    }

    @include mMax {
      margin-top: 30px;
    }
  }

  &-flex {
    position: relative;

    .new_text_block-texts {
      //max-width: 670px;

      @include mMax {
        clear: both;
      }
    }

    & + .new_text_block-texts {
      margin-top: 30px;

      @include mMax {
        margin-top: 20px;
      }
    }
  }

  &-image {
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    box-sizing: content-box;
    border: 1px solid #f8f8f8;
    flex-shrink: 0;
    float: right;
    margin-bottom: 40px;

    @include tMax {
      width: 316px;
      height: auto;
      margin-left: 38px;
    }

    @include mMax {
      width: 100%;
      margin-left: 0;
      margin-bottom: 25px;
      margin-top: 25px;
    }

    img {
      width: 100%;
      //max-height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &-texts {
    p {
      display: block;
      font-size: 16px;
      line-height: 24px;
      color: #143862;

      & + p {
        margin-top: 30px;

        @include tMax {
          margin-top: 20px;
        }
      }
    }

    ul {
      list-style: none;
      display: block;
      margin-top: 30px;

      @include tMax {
        margin-top: 20px;
      }

      & + p {
        margin-top: 30px;

        @include tMax {
          margin-top: 20px;
        }
      }

      li {
        position: relative;
        display: block;
        padding-left: 30px;

        &:before {
          content: '';
          position: absolute;
          top: 12px;
          left: 0;
          display: block !important;
          width: 16px;
          height: 1px;
          background-color: #3ab94b;
        }

        & + li {
          margin-top: 10px;

          @include mMax {
            margin-top: 0;
          }
        }
      }
    }
    li ul{
      margin-bottom: 20px;
      margin-top: 10px;
      @include mMax {
        margin-top: 0;
      }
    }
  }

  &-disclamer {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(58, 185, 75, 0.06);
    padding: 54px;
    margin-top: 85px;
    clear: both;

    @include tMax {
      margin-top: 45px;
      padding: 50px 50px 40px;
    }

    @include mMax {
      display: block;
      padding: 25px;
    }

    img {
      display: block;
      flex-shrink: 0;
      margin-right: 45px;

      @include mMax {
        margin-right: 0;
        margin-bottom: 15px;
        width: 29px;
      }
    }

    p {
      display: block;
      font-size: 18px;
      line-height: 28px;
      font-weight: bold;
      color: #143862;

      @include mMax {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

.new_treatment {
  box-sizing: border-box;
  padding: 80px 0;

  @include tMax {
    padding: 55px 0 80px;
  }

  @include mMax {
    padding: 40px 0 60px;
  }

  .section-title {
    margin-bottom: 60px;

    @include tMax {
      margin-bottom: 25px;
    }

    @include mMax {
      margin-top: 20px;
    }
  }

  &-advantages {
    margin-top: 50px;

    @include mMax {
      margin-top: 20px;
      margin-bottom: 25px;
    }

    &-title {
      display: block;
      margin-bottom: 20px;
      font-size: 30px;
      line-height: 40px;
      font-weight: 300;
      color: #143862;

      @include tMax {
        font-size: 26px;
      }

      @include mMax {
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
      }
    }

    &-content {
      list-style: none;
      display: block;

      li {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        span {
          display: block;
          margin-right: 18px;
          font-size: 16px;
          flex-shrink: 0;
          font-weight: bold;
          color: #3ab94b;

          @include tMax {
            display: none;
          }
        }

        p {
          display: block;
          font-size: 16px;
          line-height: 26px;
          color: #143862;
        }
      }
    }
  }

  &-block {
    display: block;
    margin-top: 50px;

    @include mMax {
      padding: 15px 10px;
      border-bottom: 1px solid #d9d9d9;
      margin: 0;

      .new_text_block-texts {
        display: none;
        padding: 10px 20px 10px 10px;
      }

      &.is-active {
        span:before {
          transform: rotate(270deg);
          background-color: #1e4c82;
          box-shadow: 0 0 15px 0 #1e4c82;
        }
      }
    }

    &-heading {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 20px;
      text-transform: uppercase;

      @include mMax {
        margin: 0;
      }
      span {
        display: block;
        font-size: 30px;
        line-height: 40px;
        color: #143862;

        @include mMax {
          width: 100%;
          font-size: 17px;
          line-height: 23px;
          font-weight: 500;
          position: relative;
          margin-bottom: 20px;
        }
      }
    }

    &-icon {
      display: block;
      width: 74px;

      img {
        display: block;
        max-width: 100%;
      }

      @include mMax {
        display: none;
      }
    }

    span {
      display: block;
      font-size: 30px;
      line-height: 40px;
      color: #143862;

      @include mMax {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 17px;
        line-height: 40px;
        font-weight: 500;
        position: relative;
        cursor: pointer;

        &:before {
          content: '';
          right: 0;
          position: absolute;
          display: block;
          height: 24px;
          width: 24px;
          border-radius: 50%;
          background: #3ab94b url(../img/slider-next.svg) calc(50% + 1px) 50% no-repeat;
          background-size: 28%;
          box-shadow: 5px 0 15px 0 #49ce01;
          transform: rotate(90deg);
          transition: all 0.2s linear;
        }
      }
    }
  }
}

.new_video {
  position: relative;
  padding: 105px 0 95px;
  background: center / cover url(../img/video-block-bg.jpg) no-repeat;

  @include tMax {
    padding: 80px 0 70px;
    background: center / cover url(../img/bg2-mobile.png) no-repeat;
  }

  @include mMax {
    padding: 40px 0 30px;
  }

  &-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include tMax {
      display: block;
    }
  }

  &-title {
    display: block;
    padding-right: 20px;
    margin-right: auto;
    font-size: 48px;
    line-height: 52px;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    max-width: 500px;
    width: 50%;

    @include tMax {
      max-width: none;
      width: 100%;
      margin: 0 0 50px;
      text-align: center;
      padding: 0;
      font-size: 36px;
      line-height: 40px;
    }

    @include mMax {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 30px;
    }
  }

  &-block {
    position: relative;
    width: 60%;
    max-width: 670px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tMax {
      width: 100%;
      margin: 0 auto;
    }
  }

  &-bg {
    display: block;
    width: 100%;
    z-index: 8;
  }

  &-text {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 32px;

    @include mMax {
      padding: 10px 14px;
    }

    p {
      display: block;
      font-size: 14px;
      line-height: 18px;
      color: #fff;

      @include mMax {
        font-size: 11px;
        line-height: 14px;
      }

      @media screen and (max-width: 330px) {
        font-size: 10px;
      }
    }
  }

  &-play {
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 94px;
    height: 94px;
    border-radius: 50%;
    background-color: #3ab94b;
    box-shadow: 0 5px 15px 0 #49ce01;

    @include mMax {
      width: 43px;
      height: 43px;
    }

    img {
      display: block;
      margin-left: 10px;

      @include mMax {
        width: 18px;
        margin-left: 5px;
      }
    }
  }
}

.new_team {
  position: relative;
  box-sizing: border-box;
  padding: 120px 0 70px;

  .section-title {
    text-align: center;
    margin-bottom: 50px;

    @include tMax {
      margin-bottom: 40px;
    }

    @include mMax {
      margin-bottom: 30px;
    }
  }

  &-item {
    box-sizing: border-box;
    padding: 18px 15px 22px;
    min-height: 692px;
    display: flex !important;
    justify-content: stretch;
    align-items: stretch;
    transition: box-shadow 0.2s linear, opacity 0.2s linear;
    opacity: 0;

    @include mMax {
      min-height: 679px;
    }

    &.slick-active {
      opacity: 1;
    }

    &:hover {
      box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.08);

      .green-btn {
        opacity: 1;
      }

      .new_team-img {
        img {
          transform: scale(1.05);
        }
      }
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  &-img {
    width: 100%;
    height: 269px;
    overflow: hidden;
    background-color: #fafafa;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      transition: transform 0.2s linear;
    }
  }

  &-text {
    box-sizing: border-box;
    padding: 20px 0;
  }

  &-name {
    display: block;
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: #1e4c82;
  }

  &-place {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 18px;
    color: #1e4c82;
  }

  &-position {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 18px;
    color: #777777;
  }

  &-desc {
    display: block;
    font-size: 14px;
    line-height: 22px;
    color: #143862;
  }

  .green-btn {
    box-sizing: border-box;
    margin-top: auto;
    width: 100%;
    margin-top: auto;
    opacity: 0;
    padding: 15px 20px;
    transition: all 0.2s linear;

    @include tMax {
      opacity: 1;
    }

    @include mMax {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 255px;
    }
  }

  &-slider {
    position: static;

    @include tMax {
      padding: 0 55px;
    }

    @include mMax {
      padding: 0;
    }

    .slick-list {
      overflow: visible;
    }
  }

  @include tMax {
    padding: 70px 0 80px;

    &-slider {
      position: relative;
    }

    .slick-arrow {
      width: 60px;
      height: 60px;
      background-size: 28%;

      &.slick-prev {
        left: 0;
      }

      &.slick-next {
        right: 0;
      }
    }
  }

  @include mMax {
    padding: 30px 0 110px;
  }

  @include mMax {
    .slick-arrow {
      bottom: auto;
      top: 100%;
      width: 48px;
      height: 48px;
      transform: none;
      margin-top: 15px;

      &.slick-next {
        right: 50%;
        margin-right: -56px;
      }

      &.slick-prev {
        left: 50%;
        margin-left: -56px;
      }
    }
  }
}

.new_team-text-section {
  padding: 0 0 120px;

  @include tMax {
    padding: 0 0 55px;
  }

  @include mMax {
    padding: 0 0 30px;
  }

  .section-title {
    margin-bottom: 50px;

    @include tMax {
      margin-bottom: 25px;
    }
  }
}

.new_consultation {
  box-sizing: border-box;
  padding: 80px 0;
  background: #f8f9fb left center / auto 100% url(../img/form-bg.png) no-repeat;

  @include tMax {
    padding: 50px 0 80px;
    background: #f8f9fb left center / auto 100% url(../img/bg3-mobile.png) no-repeat;
  }

  @include mMax {
    padding: 40px 0;
    background: #f8f9fb;
  }

  .section-title {
    text-align: center;
    margin-bottom: 30px;

    @include tMax {
      margin-bottom: 40px;
    }

    @include mMax {
      margin-bottom: 30px;
    }
  }

  &-desc {
    display: block;
    margin-bottom: 45px;
    font-size: 16px;
    line-height: 24px;
    color: #143862;
    text-align: center;

    @include tMax {
      margin: 0 auto 35px;
      max-width: 555px;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &-form {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tMax {
      flex-wrap: wrap;
    }

    @include mMax {
      display: block;
    }

    input,
    button {
      display: block;
      width: calc(25% - 90px / 4);
    }

    input {
      @include tMax {
        width: calc(33.333% - 36px / 3);
        min-height: 49px;
      }

      @include mMax {
        width: 100%;
        max-width: 258px;
        margin: 0 auto;
      }
    }

    button {
      @include tMax {
        width: 100%;
        max-width: 270px;
        margin: 36px auto 0;
      }

      @include mMax {
        width: 100%;
        max-width: 258px;
      }
    }
  }

  &-input {
    box-sizing: border-box;
    display: block;
    padding: 10px 22px;
    margin: 0;
    border: 1px solid #e6e8ec;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    line-height: 24px;
    color: #143862;
    min-height: 59px;

    @include mMax {
      font-size: 14px;
      padding: 10px 18px;

      & + & {
        margin-top: 15px;
      }
    }
  }
}

.sign_up {
  padding: 115px 0 40px;

  @include tMax {
    padding: 70px 0 30px;
  }

  @include mMax {
    padding: 35px 0 110px;
  }

  .new_team-slider {
    margin-bottom: 0;
  }

  .new_team-item {
    min-height: 545px;
  }
}

.new_price {
  position: relative;
  padding: 120px 0;
  background: #0d386b center / cover url(../img/price-bg.png) no-repeat;

  @include tMax {
    padding: 90px 0 80px;
    background: #0d386b center / cover url(../img/bg4-mobile.png) no-repeat;
  }

  @include mMax {
    padding: 40px 0 30px;
  }

  &-title {
    display: block;
    margin-bottom: 50px;
    box-sizing: border-box;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;

    @include tMax {
      margin-bottom: 25px;
      font-size: 24px;
      line-height: 30px;
    }

    @include mMax {
      font-size: 18px;
      line-height: 24px;
      text-align: center;
    }
  }

  &-content {
    display: block;
    width: 100%;
    max-width: 500px;

    @include tMax {
      max-width: 339px;
    }
  }

  .green-btn {
    width: 100%;
    max-width: 305px;

    @include mMax {
      max-width: 266px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.new_reviews {
  position: relative;
  box-sizing: border-box;
  padding: 110px 0 140px;

  @include tMax {
    padding: 60px 0;
  }

  @include mMax {
    padding: 50px 0 40px;

    .container {
      box-sizing: border-box;
      width: 100%;
    }

    .new_video-play {
      width: 58px;
      height: 58px;

      img {
        width: 25px;
        margin-left: 7px;
      }
    }
  }

  &-slider {
    position: static;

    @include tMax {
      padding: 0 68px;

      .slick-arrow {
        top: 470px;
        width: 60px;
        height: 60px;
        background-size: 28%;
        margin: 0;
        transform: none;

        &.slick-next {
          right: 30px;
        }

        &.slick-prev {
          left: 30px;
        }
      }
    }

    @include mMax {
      padding: 0;
    }

    @include mMax {
      .slick-arrow {
        top: auto;
        bottom: 132px;
        width: 48px;
        height: 48px;

        &.slick-next {
          right: 50%;
          margin-right: -56px;
        }

        &.slick-prev {
          left: 50%;
          margin-left: -56px;
        }
      }
    }

    .slick-arrow {
      margin-top: -59px;
    }
  }

  .green-btn {
    display: block;
    width: 100%;
    max-width: 305px;
    margin: 56px auto 0;
    text-align: center;

    @include mMax {
      margin: 110px auto 0;
      max-width: 260px;
    }
  }

  .section-title {
    text-align: center;
    margin-bottom: 60px;

    @include tMax {
      margin-bottom: 50px;
    }

    @include mMax {
      margin-bottom: 20px;
    }
  }

  &-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include tMax {
      display: block;
    }
  }

  &-content {
    box-sizing: border-box;
    width: calc(50% - 15px);
    padding: 50px 70px;
    background-color: #f8f9fb;

    @include tMax {
      width: 100%;
      padding: 50px 68px;
    }

    @include mMax {
      padding: 30px 20px 20px;
    }

    &-title {
      display: block;
      margin-bottom: 30px;
      font-size: 18px;
      line-height: 24px;
      font-weight: 500;
      color: #143862;

      @include tMax {
        margin-bottom: 25px;
      }

      @include mMax {
        padding: 0 15px;
      }
    }

    &-desc {
      display: block;
      margin-bottom: 38px;
      font-size: 16px;
      line-height: 24px;
      color: #143862;

      @include mMax {
        font-size: 14px;
        line-height: 20px;
        padding: 0 15px;
        margin-bottom: 20px;
      }
    }

    &-user {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      img {
        display: block;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        flex-shrink: 0;
      }

      &-text {
        display: block;
        padding-left: 30px;

        h3 {
          display: block;
          margin-bottom: 10px;
          font-size: 18px;
          line-height: 24px;
          font-weight: 500;
          color: #143862;

          @include mMax {
            margin-bottom: 5px;
          }
        }

        span {
          display: block;
          font-size: 14px;
          line-height: 24px;
          color: #999999;
        }
      }
    }
  }

  &-bg {
    display: block;
    width: 100%;
    object-position: center;
    object-fit: cover;
  }

  &-video {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &-block {
      width: calc(50% - 15px);

      @include tMax {
        width: 100%;
      }
    }

    &-desc {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 30px;

      @include mMax {
        box-sizing: border-box;
        margin-top: 20px;
        padding: 0 20px;

        img {
          display: none;
        }
      }
    }

    &-text {
      span {
        display: block;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 24px;
        color: #999999;
      }

      h3 {
        display: block;
        font-size: 18px;
        line-height: 24px;
        font-weight: 500;
        color: #143862;
      }
    }

    &-img {
      display: block;
      max-width: 170px;
      margin-left: 20px;
    }
  }
}

.to_contents {
  box-sizing: border-box;
  padding: 60px 0 110px;

  &-breadcrumbs {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    li {
      display: block;

      & + li {
        margin-left: 25px;
      }

      a {
        position: relative;
        display: block;
        font-size: 16px;
        line-height: 24px;
        color: #1e4c82;
        text-decoration: none;
      }

      &:last-child {
        pointer-events: none;

        a {
          color: #999999;

          &:before {
            content: '';
            position: absolute;
            top: 50%;
            display: block;
            width: 7px;
            height: 7px;
            background: center / cover url(../img/arrow.png) no-repeat;
            transform: translate(-17px, -50%);
          }
        }
      }
    }
  }

  &-title {
    display: block;
    margin-bottom: 75px;
    font-size: 48px;
    line-height: 52px;
    font-weight: 300;
    color: #143862;
    text-align: center;
  }

  &-head {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -10px;

    li {
      display: block;
      padding: 0 10px;

      a {
        position: relative;
        display: block;
        text-decoration: none;
        font-size: 18px;
        line-height: 24px;
        color: #1e4c82;
        text-transform: uppercase;

        @include mMax {
          font-size: 16px;
          line-height: 19px;
        }

        &.to_contents-disabled {
          pointer-events: none;
          color: #c1c1c1;
        }
      }
    }
  }

  &-item {
    display: block;
    margin-top: 50px;
  }

  &-heading {
    display: block;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 40px;
    color: #3ab94b;
    text-transform: uppercase;
  }

  &-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0 -15px;
    margin-bottom: -20px;

    @include mMax {
      flex-wrap: wrap;
    }
  }

  &-col {
    display: block;
    box-sizing: border-box;
    width: 25%;
    margin: 0 15px;
    min-width: min-content;
    margin-bottom: 20px;
  }

  &-list {
    display: block;
    list-style: none;

    li {
      a {
        display: block;
        font-size: 20px;
        line-height: 24px;
        font-weight: 300;
        color: #1e4c82;

        @include mMax {
          font-size: 14px;
          line-height: 18px;
        }
      }

      & + li {
        margin-top: 20px;
      }
    }
  }
}

.b-ban1 {
  margin-bottom: 0;

  @include tMax {
    background: #f8f9fb center / cover url(../img/bg-mobile.png) no-repeat;
  }

  .ban1__head {
    color: #143862;

    @include tMax {
      margin-bottom: 40px;
      font-size: 24px;
      line-height: 30px;
    }

    @include mMax {
      font-size: 20px;
      line-height: 25px;
      font-weight: 400;
      margin-bottom: 15px;
    }
  }

  .ban1__item {
    @include tMax {
      &:not(.ban1__item--contacts) {
        width: calc(50% - 30px);
        max-width: 304px;
        padding: 0;
        margin: 0 15px;
      }
    }

    @include mMax {
      &:not(.ban1__item--contacts) {
        width: 100%;
        max-width: none;

        .b-btn-3,
        .b-btn-2 {
          display: block;
          width: 100%;
          max-width: 260px;
          margin: 0 auto;
        }
      }

      &:last-child {
        margin-top: 18px;
      }
    }
  }

  .ban1__items {
    @include tMax {
      flex-wrap: wrap;
      justify-content: center;

      .ban1__item--contacts {
        width: 100%;
        max-width: none;
        margin-bottom: 30px;
        padding: 0;

        .ban1__contacts {
          margin: 0 auto;
        }
      }
    }
  }

  .ban1__inner {
    @include mMax {
      padding: 40px 20px;
    }
  }

  @include mMax {
    .ban1__contacts:before {
      width: 46px;
      height: 45px;
      margin-right: 10px;
    }

    .ban1__text {
      width: calc(100% - 56px);
    }

    .ban1__items {
      margin: 0;
    }
  }
}

.b-recovery {
  @include tMax {
    padding: 55px 0;

    .b-title-h1 {
      margin-bottom: 35px;
      font-size: 36px;
      line-height: 40px;
    }

    .recovery__item {
      width: calc(50% - 8px);
      margin-right: 8px;

      &:nth-child(2) {
        margin-right: 0;
      }

      &:last-child {
        width: 100%;
      }
    }

    .recovery__text {
      font-size: 14px;
      line-height: 20px;
    }
  }

  @include mMax {
    padding: 30px 0 40px;

    .b-title-h1 {
      margin-bottom: 40px;
      font-size: 24px;
      line-height: 30px;
      font-weight: 400;
    }

    .recovery__row {
      margin: 0;
      display: block;

      .recovery__item {
        width: 100%;
        padding: 0;

        &:hover {
          box-shadow: none;
        }

        & + .recovery__item {
          margin-top: 55px;
        }
      }
      .recovery__title {
        font-size: 16px;
        line-height: 20px;
        margin: 20px 0 10px;
      }

      .recovery__img {
        margin-bottom: 0;
      }

      .recovery__item:before {
        top: -28px;
        left: 25px;
      }
    }
  }
}

.new_table {
  width: 100%;
  min-width: 600px;
  border-collapse: collapse;

  &_section {
    padding: 20px 0;
  }

  td,
  th {
    padding: 10px;
    text-align: center;
    min-width: 100px;
    border: 1px solid #143862;
  }

  &_wrapper {
    width: 100%;
    overflow-x: auto;
    margin: 0 auto;
  }
}
